.input {
  width: 300px;
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s box-shadow;
  margin: 20px auto;
}
.input:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #4b0908;
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
